# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

name = "metal-price-remix"
client_id = "b76216911e17ae72412dc4b71011a863"
application_url = "https://deeply-mind-paper-joan.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
dev_store_url = "https://metal-price-remix-1.myshopify.com"

[webhooks]
api_version = "2025-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "write_products"

[auth]
redirect_urls = ["https://deeply-mind-paper-joan.trycloudflare.com/auth/callback", "https://deeply-mind-paper-joan.trycloudflare.com/auth/shopify/callback", "https://deeply-mind-paper-joan.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false
